#slider {
  overflow: hidden;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#slider img {
  width: 100%;
}

#imgA {
  position: absolute;
  top: 0;
  left: 0;
}
#textesA,
#textesB {
  position: absolute;
  top: 2rem;
  left: 0rem;
  padding: 1rem;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: white;
}
#textesA {
  z-index: 3;
}
#textesB {
  z-index: 1;
}

#coverSlider {
}

.transSlider {
  transition: all 0.5s;
}

.slideRight {
  transform: translateX(100%);
}

.slideLeft {
  transform: translateX(-100%);
}

/* Autre effet possible */
.fadeOut {
  opacity: 0;
}
#prevBTN {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
}
#nextBTN {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  z-index: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#prevBTN:hover,
#nextBTN:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
